#MainWindow {
    background-color: #19191B;
    border-style: none;
}

#version {
    border: solid transparent;
    background: transparent;
    color: white;
}

#self.title_layout {
    border-style: none;
}

#logo {
    background-color: transparent;
}

QLineEdit {
    border: solid transparent;
    background: transparent;
    color: white;
    qproperty-alignment: AlignCenter;
}

